<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"><meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <table class="table table-striped">
            {% for item in managers_data %}
            <tr class="{% if item.kpi > 0 %}success{% endif %}">
                <td>
                    {{ item.name }}
                </td>
                <td>
                    {{ item.total_plans }}
                </td>
                <td>
                    {{ item.converted_plans }}
                </td>
                <td>
                    {{ item.kpi }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


</body>
</html>